* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Forum", serif;
  src: url("../font/Forum/Forum-Regular.ttf");
}
body {
  background-color: #f3d7cc;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.container header {
  width: 100vw;
  background-color: white;
  border: solid 2px #9b684d;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
.container header .nabar {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.container header .nabar .nabarU {
  width: 100%;
}
.container header .nabar .nabarU img {
  border: solid 2px #9b684d;
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
.container header .nabar .nabarU .botonera_U .botonera_D {
  border: solid #9b684d 1px;
  width: 12rem;
  padding: 5px;
  margin: 10px;
  background-color: #d2988d;
}
.container header .nabar .nabarU .botonera_U .botonera_D:hover {
  background-color: #9b684d;
  border: solid #d2988d 1px;
}
.container header .nabar .nabarU .botonera_U .botonera_D:hover a {
  color: white;
}
.container main {
  width: 100vw;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.container main .carrusel {
  width: 100vw;
  margin: 0 auto;
}
.container main .carrusel img {
  width: 650px;
  height: 450px;
}
.container main .tmaint {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.container main .tmaint .centradou {
  width: 100%;
  height: 3rem;
}
.container main .fotos {
  margin: 10px auto;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.container main .fotos .img__img {
  width: 300px;
  height: 300px;
  opacity: 1;
}
.container main .fotos .img__img:hover {
  opacity: 0.6;
  transition: 0.5s;
}
.container main .centradou {
  width: 100%;
  height: 3rem;
}
.container main .mainu {
  width: 100vw;
  margin: 20px;
  padding: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  border: solid black 2px;
}
.container main .mainu img {
  background-color: #eedcd8;
  opacity: 1;
}
.container main .mainu img:hover {
  opacity: 0.6;
  transition: 0.5s;
}
.container main .mainu .card__body {
  background-color: #eedcd8;
}
.container main .mainu .botonera_D {
  border: solid #9b684d 1px;
  width: 12rem;
  padding: 5px;
  margin: 10px;
  background-color: #d2988d;
}
.container main .mainu .botonera_D:hover {
  background-color: #9b684d;
  border: solid #d2988d 1px;
}
.container main .mainu .botonera_D:hover a {
  color: white;
}
.container aside {
  width: 100vw;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.container aside .centradou {
  width: 100%;
  height: 3rem;
}
.container aside .mainu {
  width: 100vw;
  margin: 20px;
  padding: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  border: solid black 2px;
}
.container aside .mainu img {
  background-color: #eedcd8;
  opacity: 1;
}
.container aside .mainu img:hover {
  opacity: 0.6;
  transition: 0.5s;
}
.container aside .mainu .card__body {
  background-color: #eedcd8;
}
.container aside .mainu .botonera_D {
  border: solid #9b684d 1px;
  width: 12rem;
  padding: 5px;
  margin: 10px;
  background-color: #d2988d;
}
.container aside .mainu .botonera_D:hover {
  background-color: #9b684d;
  border: solid #d2988d 1px;
}
.container aside .mainu .botonera_D:hover a {
  color: white;
}
.container footer {
  width: 123%;
  padding: 10px;
  background-color: white;
  border: solid rgb(86, 92, 4) 2px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}
.container footer .seccionsie {
  width: 33%;
}
.container footer .secciono {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33%;
}
.container footer .seccionn {
  width: 33%;
}
.container footer .ins {
  width: 20px;
  height: 20px;
}

/*# sourceMappingURL=estilo.css.map */
